<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
		{% load static %}
		<link rel="stylesheet" href="{% static 'image/css/home.css' %}" />

		<title>Image Encryption / Decryption</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand active" href="/home">Home</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="/image">Encrypt/Decrypt - DNA</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/aesencrypt">Encrypt-AES</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/aesdecrypt">Decrypt-AES</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid text-center">
			<div class="header-div mt-4">
				<h1 id="title">Image Encryption/Decryption</h1>
				<h2>Using DNA Cryptography</h2>
			</div>
			<div class="contentbox">
				<div id="img-div">
					<div class="card mx-auto">
						<img src="{% static 'image/photos/dna_image.png' %}" id="image" />
						<span class="top"></span>
						<span class="right"></span>
						<span class="bottom"></span>
						<span class="left"></span>
					</div>
					<h3 class="img-caption pt-3">
						DNA Molecule Image from Google Images, licensed under the Creative
						Commons
					</h3>
				</div>

				<div id="tribute-info">
					<p style="font-size: 1.3em">
						Image encryption is an essential process for securing digital images
						transmitted over unsecured networks. One promising approach to image
						encryption is DNA cryptography, which uses DNA molecules as a basis
						for encoding and decoding secret messages. DNA-based encryption
						provides several advantages, including high information density,
						resistance to brute-force attacks, and an inherent ability to
						self-replicate.<br /><br />
						Image encryption using DNA cryptography involves converting digital
						images into DNA sequences by mapping pixel values to nucleotide
						bases. The resulting DNA sequence is then encrypted using a
						DNA-based encryption algorithm, such as a one-time pad or a DNA
						substitution cipher. The encrypted DNA sequence is then transmitted
						over a network and can be decrypted only by using the correct
						decryption key, which is typically another DNA sequence.<br /><br />
						One of the major challenges in image encryption using DNA
						cryptography is the size of the DNA sequences required to encode
						images. Since DNA sequences are limited in length, it may be
						necessary to split large images into smaller sections and encode
						each section separately. Additionally, since DNA molecules can be
						affected by environmental factors such as heat and radiation, it is
						essential to develop methods for stabilizing and storing DNA-based
						encryption keys.<br /><br />
						Despite these challenges, image encryption using DNA cryptography
						shows great promise as a highly secure and efficient method of
						encrypting digital images. Future research in this area may focus on
						developing more efficient DNA-based encryption algorithms and
						improving the stability and storage of DNA molecules.
					</p>
				</div>
			</div>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
			integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
			integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
			crossorigin="anonymous"
		></script>
	</body>
</html>
