<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image</title>
  </head>
  <body>
    <h1>Upload images you want to encrypt</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Upload</button>
    </form>

    {% if img_obj %}
    <h3>Succesfully uploaded : {{img_obj.caption}}</h3>
    <img src="{{ img_obj.image.url}}" alt="connect" style="max-height: 300px" />
    <h3>Encrypted image</h3>
    <img
      src="{% static 'encrypted_image.png' %}"
      alt="Decrypted Image"
      style="max-height: 300px"
    />
    <a
      href="{% static 'encrypted_image.png' %}"
      target="_blank"
      alt="Download Encrypted Image"
      >Download Encrypted Image</a
    >
    <img
      src="{% static 'decrypted_image.png' %}"
      alt="Encrypted Image"
      style="max-height: 300px"
    />
    <a
      href="{% static 'decrypted_image.png' %}"
      target="_blank"
      alt="Download Decrypted Image"
      >Download Decrypted Image</a
    >
    {% endif %}
  </body>
</html>
